@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-size: 18px;
    background-color: #09090b !important;
}

/* Scrollbar customizado para Webkit */
::-webkit-scrollbar {
  width: 8px;
  background: #10b981;
}
::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #10b981;

}

/* Scrollbar customizado para Firefox */
* {
  scrollbar-width: medium;
  scrollbar-color: #10b981 #18181b;
}
